@import url("../../../App.css");

.remove-units-button,
.add-units-button {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.add-units-button {
  border-right: 2px solid var(--paragraph);
}

.remove-units-button:hover,
.add-units-button:hover {
  background-color: var(--headline);
}

.asset-bar-text {
  width: 25%;
  max-width: 25%;
}

.asset-bar-btn {
  border-radius: 0 0 5px 5px;
}

#bg-nested-dropdown {
  border-radius: 0 0 5px 0;
  background-color: var(--paragraph);
  border-color: var(--paragraph);
}
