@import url('../../../App.css');

.asset-bar {
  background-color: var(--background-bar);
  color: var(--primary);
  font-family: var(--font-p);
  border-color: var(--secondary);
  box-shadow: 1px 1px 2px var(--paragraph);
}

.edit-units-button,
.delete-asset-button {
  background-color: var(--paragraph);
  border-color: var(--secondary);
  color: var(--background-bar);
}

.edit-units-button:hover,
.edit-units-button:active {
  background-color: var(--headline) !important;
  border-color: var(--headline) !important;
}

.delete-asset-button:hover,
.delete-asset-button:active {
  background-color: var(--tertiary) !important;
  border-color: var(--tertiary) !important;
}

.asset-bar-text {
  font-weight: bold;
  margin: 0;
  padding: 5px;
  color: var(--primary);
}

.secondary-text {
  color: var(--secondary);
  font-weight: normal;
}

.asset-bar-btn {
  border-radius: 0 0 5px 5px;
}

@media (max-width: 320px) {
  .asset-bar-text {
    font-size: 10px;
    text-align: center;
    max-width: 80%;
  }

  .asset-bar-col {
    padding: 2px;
  }

  .asset-bar-btn {
    font-size: 12px;
  }
}
