@import url('../../../App.css');

.filter-sort {
  background-color: var(--secondary);
  position: sticky !important;
  z-index: 10;
  top: 62px;
  font-family: var(--font-p);
}

.filter-sort-dropdown > a {
  color: var(--toggler);
}

.filter-sort-dropdown > a:focus,
.filter-sort-dropdown > a:hover {
  color: var(--highlight);
}

.filter-sort-dropdown {
  padding-right: 0 !important;
}
.filter-badge {
  align-self: center;
  background-color: var(--headline) !important;
  color: var(--background);
  font-size: 0.8rem;
}

@media (max-width: 320px) {
  .filter-sort,
  .filter-badge {
    font-size: 10px;
  }
}
