@import url("../../../App.css");

.asset-legend {
  border-bottom: 1px solid var(--headline);
  background-color: var(--background-bar);
}

.asset-legend-text {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--headline);
  margin: 0;
  padding: 0;
}

.no-assets-message {
  color: var(--paragraph);
}

@media (max-width: 320px) {
  .asset-legend-text {
    font-size: 12px;
  }
}
