@import url('../../../App.css');

.asset-legend {
  background-color: var(--background);
  position: fixed;
  top: 102px;
  width: 100%;
  z-index: 2;
}

.asset-legend-text {
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
  color: var(--headline);
  margin: 0;
  padding: 0;
}

.no-assets-message {
  color: var(--paragraph);
}

.assets-container {
  margin-top: 26px;
}

@media (max-width: 320px) {
  .asset-legend-text {
    font-size: 12px;
  }
}
