@import url("../../../App.css");

#add-asset-btn {
  background-color: var(--headline);
  border-color: var(--headline);
  margin-bottom: 10vh;
}

#add-asset-btn:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
}
