@import url("../../../App.css");

#new-asset-form .modal-content {
  background-color: var(--background-bar) !important;
  color: var(--primary);
  font-family: var(--font-h);
}
.submit-form-btn {
  width: 100%;
  background-color: var(--headline);
  border-color: var(--headline);
  color: var(--background-bar);
  font-family: var(--font-h);
}

.submit-form-btn:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
}
