@import url('../../App.css');

.home-signin-btn {
  background-color: var(--headline);
  border-color: var(--headline);
  color: var(--background);
  transition: 0.3s;
  font-weight: 500;
  width: 600px;
  height: 60px;
  font-size: 28px;
}

.home-signin-btn:hover {
  transform: scale(1.05);
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.home-signin-btn a {
  color: var(--background);
  text-decoration: none;
}

.card-section {
  background: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@media (max-width: 768px) {
  .home-signin-btn {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 0;
    height: 58px;
    z-index: 1;
    font-size: 24px;
  }
}
