@import url("../../App.css");
#navbar {
  background-color: var(--headline);
}
#title {
  display: flex;
  align-items: center;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--background);
}
#navbar-logo {
  max-height: 32px;
  max-width: 32px;
  margin-right: 10px;
}

.navbar-toggler {
  background-color: var(--toggler);
}
.currency-selector {
  text-align: center;
}

.navbar-item {
  display: flex; /* using flex to center icon on dark mode button */
  flex-direction: column; /* using column to fix dropdown button which was affected by flex */
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  color: var(--background);
}

.navbar-item:hover,
#responsive-nav-dropdown:hover {
  color: var(--secondary);
}

#responsive-nav-dropdown {
  color: var(--background);
}

@media (min-width: 768px) {
  #responsive-navbar-nav {
    margin-left: 40%;
  }
  .navbar-item:hover {
    box-shadow: 0px 0px 2px var(--headline);
    border-radius: 5px;
  }
}
@media (min-width: 992px) {
  #responsive-navbar-nav {
    margin-left: 55%;
  }
}
@media (min-width: 1200px) {
  #responsive-navbar-nav {
    margin-left: 60%;
  }
}
