@import url("../../../App.css");
.home-card {
  height: 60vh;
  font-family: var(--font-h);
  border: 1px solid var(--headline);
}

.home-card-body {
  background-color: var(--background-bar);
  color: var(--headline);
  border-radius: 0px 0px 5px 5px;
}

.home-card-text {
  text-align: justify;
}

.home-card-img {
  background-color: var(--headline);
  max-height: 60%;
}

@media (max-width: 992px) {
  .home-card {
    height: 60vh;
  }
}
@media (max-width: 576px) {
  .home-card {
    height: 70vh;
  }
}
