:root {
  --background: #f1f1f1;
  --background-bar: #fffffe;
  --headline: #457b9d;
  --paragraph: #5f6c7b;
  --highlight: #a8dadc;
  --primary: black;
  --secondary: #1d3557;
  --tertiary: #ef4565;
  --toggler: #f1f1f1;
  --font-p: "Lato", sans-serif;
  --font-h: "Montserrat", sans-serif;
  --bg-image: url("./assets/home-bg.svg");
}

:root.dark {
  --background: #05030c;
  --background-bar: #100a24;
  --headline: #abe7b8;
  --paragraph: #833925;
  --highlight: #100a24;
  --primary: #fffffee3;
  --secondary: #833925;
  --tertiary: #a7a9be;
  --toggler: #abe7b8;
  --bg-image: url("./assets/home-bg-dark.svg");
}

* {
  box-sizing: border-box;
}
body {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-color: var(--background);
}

p:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  cursor: default;
}
