:root {
  --background: #f1f1f1;
  --headline: #457b9d;
  --paragraph: #5f6c7b;
  --highlight: #a8dadc;
  --secondary: #1d3557;
  --tertiary: #ef4565;
}

* {
  box-sizing: border-box;
}
body {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-color: var(--background);
}
