@import url("../../../App.css");

.total-wealth {
  max-height: 10vh;
  background-color: var(--secondary) !important;
  color: var(--background) !important;
  font-family: var(--font-h);
}

#total-wealth-text {
  color: var(--background) !important;
  font-weight: bold;
}

#total-wealth-number {
  background-color: var(--headline) !important;
  font-size: 1.2rem;
  color: var(--background);
}
